@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
/*font-family: 'Righteous', cursive;*/

@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@1,300&display=swap");
/*font-family: 'Sarabun', sans-serif;*/

/* ANIMAÇÃO DE ENTRADA DO HEADER */
@keyframes entrada {
  from {
    font-size: 0px;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes nav-effect {
  0% {
    border-bottom: 0px;
  }

  20% {
    border-bottom: 0.5px solid #fff;
    padding-bottom: 1px;
  }

  40% {
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5px;
  }

  60% {
    border-bottom: 1.3px solid #fff;
    padding-bottom: 2px;
  }

  80% {
    border-bottom: 1px solid #fff;
    padding-bottom: 2.5px;
  }

  100% {
    border-bottom: 1.5px solid #fff;
    padding-bottom: 2.5px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(90.15deg, #0f0c29, #302b63, #24243e);
  color: #0be57d;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px 10px 0px;
  animation: entrada;
  animation-duration: 0.9s;
}

.header-nav-menu {
  display: flex;
  gap: 52px;
}

.nav-item {
  font-family: "Sarabun", sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}

/* APLICAÇÃO DAS ANIMAÇÕES DOS NAV-ITEM */
#nav1:hover,
#nav2:hover,
#nav3:hover {
  animation: nav-effect;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: #0be57d;
}
